.mainHomeContainerExpand {
    display: grid;
    grid-template-columns: repeat(4,  1fr);
    position: absolute;
    top: 56px;
    right: 0;
    bottom: 0;
    left: 64px;
    margin: 10px;
}

.mainHomeContainerMinimize {
    display: grid;
    grid-template-columns: repeat(4,  1fr);
    /* grid-template-rows: ; */
    position: absolute;
    top: 56px;
    right: 0;
    bottom: 0;
    left: 224px;
    margin: 10px;

}

@media screen and (min-width: 2560px){
    .mainHomeContainerExpand{
        grid-template-columns: repeat(7,  1fr);
    }
    .mainHomeContainerMinimize {
        grid-template-columns: repeat(6,  1fr);
    
        }
}


@media screen and (max-width: 2560px){
    .mainHomeContainerExpand{
        grid-template-columns: repeat(7,  1fr);
    }
    .mainHomeContainerMinimize {
        grid-template-columns: repeat(6,  1fr);
    
        }

}

@media screen and (max-width: 2227px){
    .mainHomeContainerExpand{
        grid-template-columns: repeat(6,  1fr);
    }

    .mainHomeContainerMinimize {
        grid-template-columns: repeat(5,  1fr);
    
        }

}

@media screen and (max-width: 1900px){
    .mainHomeContainerExpand{
        grid-template-columns: repeat(5,  1fr);
    }

    .mainHomeContainerMinimize {
        grid-template-columns: repeat(4,  1fr);
    
        }

}

@media screen and (max-width: 1575px){
    .mainHomeContainerExpand{
        grid-template-columns: repeat(4,  1fr);
    }

    .mainHomeContainerMinimize {
        grid-template-columns: repeat(3,  1fr);
    
        }

}


@media screen and (max-width: 1080px){
    .mainHomeContainerExpand{
        grid-template-columns: repeat(3,  1fr);
    }

    .mainHomeContainerMinimize {
    grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width: 586px){
    .mainHomeContainerExpand{
        grid-template-columns: repeat(1,  1fr);
    }

    .mainHomeContainerMinimize {
    grid-template-columns: repeat(1, 1fr);

    }
}



.heading1 {
    margin: 0;
}

.containerCard {
    display: grid;
    grid-template-rows: subgrid;
    grid-row:  span 2;  
    /* text-align: center; */
    /* max-width: 418.388px;
    max-height: 335.337px;
    min-width: 309.987px;
    min-height: 274.362px; */
    margin: 0 8px 40px 8px;
    color: white;
    text-decoration: none;
    /* font-size: 0.9vw; */
}

.cardImgMinimize {
    width: 100%;
    height: 100%;
     /* min-width: 419px;
     max-width: 418.388px;
     min-height: 245px;
     max-height: 235.337px; */
    /* height: 235.337px; */
    /* min-width: 309.850px; */
     /* min-height: 0px; 
     max-height: 235.337px; 
    min-width: 0px;
    max-width: 418.388px; */
    
}

.cardImgExpand {
    width: 100%;
    height: 100%;
    /* min-height: 1.288px; 
    max-height: 235.337px; 
   min-width: 1.850px;
   max-width: 418.388px; */
    
}

.cardImgExpand > img {
    /* min-width: 0%;
    min-height: 0%;
    max-width: 100%;
    max-height: 100%; */
    width: 100%;
    height: 100%;
    /* min-height: 1.288px !important;  
    max-height: 235.337px !important;  
   min-width: 1.850px !important; 
   max-width: 418.388px !important;  */
    object-fit: contain;
    border-radius: 8px;
}
.cardImgMinimize > img {
    /* display: block; */
    /* min-width: 100%; */
    width: 100%;
    height: 100%;
    /* min-height: 1.288px; 
    max-height: 235.337px; 
   min-width: 1.850px;
   max-width: 418.388px; */
    object-fit: contain;
    border-radius: 8px;
}

.videoTitle {
    font-weight: bold;
}

.channelTitle {
    color: rgba(255, 255, 255, 0.721)
}

.channelTitle:hover {
    cursor: pointer;
    color: rgb(255, 255, 255)
}

.viewCount {
    color: rgba(255, 255, 255, 0.721)
}

.mainCardDetailContainerFlex {
    display: flex;
    /* min-width: 310px; */
    max-width: 390.987px;
    /* min-height: 400px; */
    padding: 4px;
}

.channelLogo {
    background: white;
    min-width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 4px;
}

.cardDetailContainer {
    /* margin-left: 10px; */
}