.mainHomeContainerExpand {
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: absolute;
    top: 56px;
    right: 0;
    bottom: 0;
    left: 64px;
    margin: 10px;
}

.mainHomeContainerMinimize {
    display: grid;
    grid-template-columns: auto auto auto;
    position: absolute;
    top: 56px;
    right: 0;
    bottom: 0;
    left: 224px;
    margin: 10px;

}

.heading1 {
    margin: 0;
}

.containerCard {
    /* text-align: center; */
    margin: 8px 3px 8px 3px;
    color: white;
    text-decoration: none;
}

.cardImgMinimize {
    width: 399.987px;
    height: 224.988px;
    
    
}

.cardImgExpand{
    width: 337.987px;
    height: 190.113px;
    
    
}

.cardImgExpand > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.cardImgMinimize > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.videoTitle {
    font-weight: bold;
}

.channelTitle {
    color: rgba(255, 255, 255, 0.721)
}

.channelTitle:hover {
    cursor: pointer;
    color: rgb(255, 255, 255)
}

.viewCount {
    color: rgba(255, 255, 255, 0.721)
}

.mainCardDetailContainerFlex {
    display: flex;
    padding: 4px;
}

.channelLogo {
    background: white;
    min-width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 4px;
}

.cardDetailContainer {
    /* margin-left: 10px; */
}