.mainSectionExpand {
    position: absolute;
    top: 56px;
    right: 915.200px;
    bottom: 0;
    left: 0;
    padding: 1px 5px;
    width: 224px;
}

.mainSectionMinimize {
    position: absolute;
    top: 56px;
    right: 915.200px;
    bottom: 0;
    left: 0;
    padding: 1px 5px;
    width: 64px;
}

.btnContainer {
    padding: 16px 0 14px 11px; 
}

.btnContainerMainMax > div{
    display: block;
}

.btnContainerMainMax {
    display: flex;
    /* flex-direction: column;  */
    color: white;
    font-family: "Roboto","Arial",sans-serif;
    /* width:100%; */
    /* font-size: 5px; */
}

.btnContainerMainMin {
   
    display: block;
    color: white;
    font-family: "Roboto","Arial",sans-serif;
    width:100%;
    font-size: 10px;
    /* line-height: 2rem; */
    /* padding-left: 12px; */
}

.btnIconContainer{
    width: 24px;
    height: 24px;
    /* position: absolute;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -42%); */
    margin: auto;
    padding-right: 12px;
}

.btnContainer > Button > div > .btnFont {
    font-weight: 500;
    font-size: 10px;
}



.btnFontContainer {
    /* width: 100%; */
    /* text-align: left; */
    /* padding-left: 12px; */
    /* position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%); */
}