.allContainers {
  display: flex;
}

.mainContainer {
  position: fixed;
  background: #121212;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  z-index: 2;
}

.leftContainer {
  /* margin */
}

.youtubeLogoIcon {
  align-items: center;
  padding-left: 13px;
  text-decoration: none;

}

.youtubeLogoIcon > div {
  color: white;
  font-size: larger;
  font-weight: bold;
  
}

.middleContainer {
  flex-grow: 1;
  max-width: 732px;

  /* margin: auto; */
}

.textFieldContainer {
  width: 100%;
}

.rightContainer {

}