.allContainers {
  display: flex;
}

.mainContainer {
  height: 56px;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.leftContainer {
}

.youtubeLogoIcon {
  align-items: center;
  padding-left: 13px;
}

.youtubeLogoIcon > div {
  font-size: larger;
  font-weight: bold;
}
