.videoPlayer {
    background: white;
    width: 853px;
    height: 480px;
    border-radius: 8px;
    
}

.mainContainer {
    padding: 80px 120px 0 120px;
}

.title {
    font-size: 19px;
    font-weight: bold;
}

.videoDetail {
    margin: 4px 0 0 0;
}